doctype html
html
	head
		title Holiday Confessions - #{story.short_title}
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(property="og:image" content="http://true-confessions.alpharooms.brewingatbc.co.uk/images/share/" + story.id + ".jpg")
		meta(property="og:description" content= story.facebook_text_by_confession)
		meta(property="og:title" content= story.short_title)
		link(href="css/inner.css" type="text/css" rel="stylesheet")
	body
		include ./components/_header.jade
		.title
			.title--story
				span.title--story--subtitle Story ##{story.id}
				h1.title--story--title= story.short_title
		.hero
			img(src="images/backgrounds/" + story.id + ".jpg").hero--image
			if i==5
				- i = 0
			else 
				- i++
			a(href="./" + stories[i].short_url + ".html").hero--next 
				span Next
			- i = n
			if i==0
				- i = 5
			else 
				- i--
			a(href="./" + stories[i].short_url + ".html").hero--prev 
				span Previous
		.synapsis
			.synapsis--wrapper
				p #{story.synopsis}
		.social-bar
			.social-bar--wrapper
				a(href="#").social-bar--author
					.social-bar--author--photo
						img(src="images/authors/" + story.id + ".jpg")
					.social-bar--author--info
						span.social-bar--author--info--name= story.blogger_name
						.social-bar--author--info--link= story.blogger_url
				.social-bar--socials
					span.social-bar--socials--text Share story
					.social-bar--socials--block(data-tweet= story.twitter_text_by_confession)
						span.social-bar--socials--block--item.js-inner-fb-share
							i.fa.fa-facebook
						span.social-bar--socials--block--item.js-inner-twitter-share
							i.fa.fa-twitter
		article.content
			.content--wrapper
				h2.content--wrapper--title= story.short_title
				p!= story.story
		include ./components/_footer.jade
		include ./components/_modal.jade
		script(type="text/javascript").
			window.fbAsyncInit = function() {
				FB.init({
					appId      : '242145689463757',
					xfbml      : true,
					version    : 'v2.5'
				});
			};
			(function(d, s, id){
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) {return;}
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/sdk.js";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		script(type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js")
		script(type="text/javascript" src="js/inner.js")