.footer {
	height: 7vh;
	min-height: em(35);
	background-color: #000;
	display: flex;
	&--wrapper {
		width: 100%;
		max-width: em($max-width);
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			width: em(180);
			height: em(30);
		}
	}
}