.slide {
	height: calc(93vh - 6.75em);
	min-height: em(643);
	background-color: #d6e8ff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 6vh 10%;
	box-sizing: border-box;
	@media only screen and (max-height: 780px) {
		padding: 3em 10%;
	}
	&--header {
		text-align: center;
		&--subtitle {
			font-family: "Nevis";
			text-transform: uppercase;
			font-size: em(14);
			color: rgba(0,0,0,.4);
		}
		&--title {
			font-family: 'Libre Baskerville', serif;
			font-style: italic;
			font-weight: 400;
			font-size: 1.6em;
			-webkit-font-smoothing: antialiased;
			padding: 0;
			margin: em(3) 0 0 0;
		}
	}
	&--image {
		min-width: 11.2em;
		width: 25vh;
		flex: 1;
	}
	&--bottom {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		&--readmore {
			background-color: #000;
			color: #fff;
			text-decoration: none;
			font-family: 'Libre Baskerville', serif;
			font-style: italic;
			font-weight: 400;
			-webkit-font-smoothing: antialiased;
			display: inline-block;
			padding: em(7) em(32);
			align-self: center;
			span {
				font-size: em(22);
			}
		}
		&--footer {
			border-top: 1px solid rgba(37,37,37,.2);
			margin-top: em(28);
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-family: "Nevis";
			padding-top: em(28);
		    font-size: 110%;
		    height: em(90);
			@media only screen and (max-width: 1500px) {
				flex-direction: column;
				font-size: 100%;
			}
			.author {
				display: flex;
				color: #000;
				align-items: center;
				&--photo {
					width: em(41);
					height: em(41);
					padding-right: em(17);
					img { border-radius: 50%; }
				}
				&--info {
					display: flex;
					flex-direction: column;
					justify-content: center;
					&--name {
						font-size: 1em;
					}
					&--link {
						font-size: .7em;
					}
				}
			}
			.socials {
				
				&--text {
					text-transform: uppercase;
				    font-size: .55em;
					color: rgba(0,0,0,.6);
					@media only screen and (max-width: 1500px) {
						display: none;
					}
				}
				&--block {
					display: flex;
					&--item {
						width: em(35);
						height: em(35);
						border: 1px solid rgba(0,0,0,.6);
						border-radius: 50%;
						color: rgba(0,0,0,.6);
						display: flex;
						justify-content: center;
						align-items: center;
						margin-right: em(2);
						cursor: pointer;
						&:last-child { margin-right: 0; }
					}
				}
			}
		}
	}
}

.owl-item {
	&:nth-child(2n) {
		.slide {
			background-color: #e4f0ff;
		}
	}
}
.owl-prev {
	left: 0;
	padding: em(4) em(11) em(4) em(27);
	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: em(8);
		transform: translateY(-50%);
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 6px 12px 6px 0;
		border-color: transparent #fff transparent transparent;
	}
}
.owl-next {
	right: 0;
	padding: em(4) em(27) em(4) em(11);
	&:before {
		content: "";
		position: absolute;
		top: 50%;
		right: em(8);;
		transform: translateY(-50%);
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 6px 0 6px 12px;
		border-color: transparent transparent transparent #fff;
	}
}
.owl-prev, .owl-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: #75b1fc;
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	span { font-size: em(16); }
	@media only screen and (max-width: 1024px) {
		span { display: none; }
		padding: 0;
		width: em(33);
		height: em(35);
	}
}
/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-item {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }
.owl-carousel .owl-animated-in {
  z-index: 0; }
.owl-carousel .owl-animated-out {
  z-index: 1; }
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y; }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d; }
  .owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    display: none; }
  .owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

