@import '../partials/_app';
@import '../partials/components/_header';
@import '../partials/components/_slider';
@import '../partials/components/_footer';
@import '../partials/components/_modal';

body {
	background-color: #e4f0ff;
}
.slide {
	@media only screen and (max-width: 500px) {
		height: calc(93vh - 4.75em);
	}
}