@import '../partials/_app';
@import '../partials/components/_header';
@import '../partials/components/_footer';
@import '../partials/components/_modal';
.header {
	@media only screen and (max-width: 1300px) {
				
			}
	&--wrapper {
		justify-content: flex-start;
		padding-left: 5%;
		&--story {
			text-align: center;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			@media only screen and (max-width: 1300px) {
				display: none;
			}
			&--subtitle {
				font-family: "Nevis";
				text-transform: uppercase;
				font-size: em(14);
				color: rgba(0,0,0,.4);
			}
			&--title {
				font-family: 'Libre Baskerville', serif;
				font-style: italic;
				font-weight: 400;
				font-size: 1.6em;
				-webkit-font-smoothing: antialiased;
				padding: 0;
				margin: em(3) 0 0 0;
			}
		}
	}
}

.title {
	display: none;
	@media only screen and (max-width: 1300px) {
		display: block;
	}
	&--story {
		text-align: center;
		padding: 1em 0;
		&--subtitle {
			font-family: "Nevis";
			text-transform: uppercase;
			font-size: em(14);
			color: rgba(0,0,0,.4);
		}
		&--title {
			font-family: 'Libre Baskerville', serif;
			font-style: italic;
			font-weight: 400;
			font-size: 1.6em;
			-webkit-font-smoothing: antialiased;
			padding: 0;
			margin: em(3) 0 0 0;
		}
	}
}
.hero {
	width: 100%;
	height: 0;
	padding-top: 40%;
	overflow: hidden;
	position: relative;
	&--image {
		width: 100%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);	
	}
	&--prev {
		left: 0;
		padding: em(4) em(11) em(4) em(27);
		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: em(8);
			transform: translateY(-50%);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 6px 12px 6px 0;
			border-color: transparent #fff transparent transparent;
		}
	}
	&--next {
		right: 0;
		padding: em(4) em(27) em(4) em(11);
		&:before {
			content: "";
			position: absolute;
			top: 50%;
			right: em(8);;
			transform: translateY(-50%);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 6px 0 6px 12px;
			border-color: transparent transparent transparent #fff;
		}
	}
	&--prev, &--next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background-color: #75b1fc;
		font-family: 'Libre Baskerville', serif;
		font-style: italic;
		font-weight: 400;
		-webkit-font-smoothing: antialiased;
		cursor: pointer;
		color: #fff;
		span { font-size: em(16); }
		@media only screen and (max-width: 1024px) {
			span { display: none; }
			padding: 0;
			width: em(33);
			height: em(35);
		}
	}
}
.synapsis {
	background-color: #b1c385;
	&--wrapper {
		max-width: em($max-width);
	    margin: 0 auto;
	    padding: 0 15%;
	    text-align: center;
	    box-sizing: border-box;
	    @media only screen and (max-width: 800px) {
			padding: 0 5%;
	    }
		p {
			padding: 1em 0;
			margin: 0;
		    font-family: Nevis;
		    font-size: 1.7em;
			color: #fff;
			-webkit-font-smoothing: antialiased;
			@media only screen and (max-width: 800px) {
				font-size: 1.3em;
				
			}
		}
	}
}
.social-bar {
	background-color: #466182;
	padding: em(26) 0;
	@media only screen and (max-width: 490px) {
		padding: em(10) 0 em (20);
	}
    &--wrapper {
    	display: flex;
		justify-content: space-between;
		align-items: center;
		font-family: "Nevis";
	    max-width: em($max-width);
	    margin: 0 auto;
	    padding: 0 5%;
	    box-sizing: border-box;
	    @media only screen and (max-width: 490px) {
	    	flex-direction: column;
	    }
    }
	&--author {
		display: flex;
		color: #fff;
		align-items: center;
		-webkit-font-smoothing: antialiased;
	    font-size: 110%;
		&--photo {
			padding-right: em(17);
		    img { border-radius: 50%; }
		}
		&--info {
			display: flex;
			flex-direction: column;
			justify-content: center;
			&--name {
				font-size: 1em;
			}
			&--link {
				font-size: .7em;
			}
		}
	}
	&--socials {
	    font-size: 110%;
		&--text {
			text-transform: uppercase;
		    font-size: .55em;
			color: #fff;
			-webkit-font-smoothing: antialiased;
			@media only screen and (max-width: 490px) {
				display: none;
			}
		}
		&--block {
			display: flex;
			&--item {
				width: em(35);
				height: em(35);
				border: 2px solid #fff;
				border-radius: 50%;
				color: #fff;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-right: em(2);
				cursor: pointer;
				&:last-child { margin-right: 0; }
			}
		}
	}
}
.content {
	@media only screen and (max-width: 680px) {
		font-size: 80%;
	}
	&--wrapper {
		width: 100%;
		max-width: em($max-width);
		margin: 0 auto;
		box-sizing: border-box;
		font-family: 'Droid Sans', sans-serif;
		color: #4a4a4a;
		padding: 4.5em 5% 3em;
		@media only screen and (max-width: 680px) {
			padding: 3em;
		}
		&--title {	
			font-size: 2.3em;
			margin: 0;
			padding: 0 0 .5em 0;
		}
		p {
			font-size: 1.2em;
			text-align: justify;
			line-height: 1.5;
		}
	}
}