.modal.js-modal
	.modal--wrapper
		.modal--wrapper--content
			p To embed this page as an infographic image, simply copy and paste this embed code.
			<textarea onclick='this.focus();this.select()'><a href="https://www.alpharooms.com/holidayconfessions" title="Holiday Confessions"><img src="https://www.alpharooms.com/holidayconfessions/images/main-share-image.jpg" alt="Holiday Confessions" style="width: 100%; max-width: 500px;"></a></textarea>

			.close.js-close
				.close--button
					i.fa.fa-times
				.close--text Close
