.owl-carousel
	- i = 0
	each story in stories
		article.slide
			.slide--header
				span.slide--header--subtitle Story ##{story.id}
				h1.slide--header--title= story.short_title
			.slide--image
				img(src="images/thumbnails/" + story.id + ".png")
			.slide--bottom
				a(href= story.short_url + ".html").slide--bottom--readmore
					span Read Story
				.slide--bottom--footer
					if i==2
						a(href="/").author
							.author--photo
								img(src="images/authors/" + story.id + ".jpg")
							.author--info
								span.author--info--name= story.blogger_name
								.author--info--link= story.blogger_url
					else
						a(href="http://" + story.blogger_url targe="_blank").author
							.author--photo
								img(src="images/authors/" + story.id + ".jpg")
							.author--info
								span.author--info--name= story.blogger_name
								.author--info--link= story.blogger_url
					.socials
						span.socials--text Share story
						.socials--block(data-story= story.short_url data-title= story.short_title data-tweet= story.twitter_text_by_confession)
							span.socials--block--item.js-inner-fb-share
								i.fa.fa-facebook
							span.socials--block--item.js-inner-twitter-share
								i.fa.fa-twitter
		- i++