@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400italic);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:700);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);

@font-face {
	font-family: 'Nevis';
	src: url('../fonts/nevis/nevis.eot');
	src: local('☺'), url('../fonts/nevis/nevis.woff') format('woff'), url('../fonts/nevis/nevis.ttf') format('truetype'), url('../fonts/nevis/nevis.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawasome/fontawesome-webfont.eot?v=4.5.0');
	src: url('../fonts/fontawasome/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../fonts/fontawasome/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../fonts/fontawasome/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../fonts/fontawasome/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../fonts/fontawasome/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.fa-facebook-f:before,
.fa-facebook:before {
	content: "\f09a";
}
.fa-twitter:before {
	content: "\f099";
}
.fa-google-plus:before {
	content: "\f0d5";
}
.fa-remove:before, .fa-close:before, .fa-times:before {
    content: "\f00d";
}